<div class="h-96 text-white text-center grid">
    <div class="relative w-full h-full overflow-hidden">
        <!-- Slide container -->
        <div *ngFor="let event of events; let i = index" class="absolute inset-0 transition-opacity duration-1000 ease-in-out" [ngClass]="{'opacity-0': i !== currentIndex, 'opacity-100': i === currentIndex}">
            <div class="h-96 text-white text-center grid bg-cover" [ngStyle]="{'background-image': 'url(' + event.image + ')'}">
                <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-70 w-full h-full"></div>
                <div class="col-start-1 row-start-1 mx-auto my-auto">
                    <h1 class="font-bold text-2xl">{{ event.title }}</h1>
                    <p>{{ event.description }}</p>
                </div>
            </div>
        </div>

        <!-- Navigation buttons -->
        <button (click)="prevSlide()" class="absolute left-4 top-1/2 transform -translate-y-1/2 p-2 bg-gray-700 rounded-full hover:bg-gray-500">
            &larr;
        </button>
        <button (click)="nextSlide()" class="absolute right-4 top-1/2 transform -translate-y-1/2 p-2 bg-gray-700 rounded-full hover:bg-gray-500">
            &rarr;
        </button>
    </div>
</div>


<!-- component -->
<div class="flex justify-center items-center min-h-screen px-4">
    <div class="grid grid-cols-4 mx-auto">
        <!-- Centering wrapper -->
        <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
            <div class="relative mx-4 mt-4 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40">
                <img src="https://images.unsplash.com/photo-1499696010180-025ef6e1a8f9?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80" alt="ui/ux review check" />
                <div class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-tr from-transparent via-transparent to-black/60">
                </div>

            </div>
            <div class="p-6">
                DATA
            </div>
            <div class="p-6">
                <div class="flex flex-row">
                    <div class="flex flex-col items-start justify-between mb-3">
                        <h5 class="flex font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
                            Nome do evento
                        </h5>
                        <h5 class=" flex font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
                            Local do Evento
                        </h5>
                    </div>

                    <div class="flex text-end">
                        <p class=" items-end gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                            Presencial
                        </p>
                    </div>
                </div>

                <p class="block font-sans text-base antialiased font-light leading-relaxed text-gray-700">
                    Descrição<br>
                    Enter a freshly updated and thoughtfully furnished peaceful home surrounded by ancient trees, stone
                    walls, and open meadows.
                </p>
                <div class="inline-flex flex-wrap items-center gap-3 mt-8 group">
                    ?
                </div>
            </div>
            <div class="p-6 pt-3">
                <button class="block w-full select-none rounded-lg bg-gray-900 py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                    Pagina do evento
                </button>
            </div>
        </div>
        <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
            <div class="relative mx-4 mt-4 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40">
                <img src="https://images.unsplash.com/photo-1499696010180-025ef6e1a8f9?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80" alt="ui/ux review check" />
                <div class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-tr from-transparent via-transparent to-black/60">
                </div>

            </div>
            <div class="p-6">
                DATA
            </div>
            <div class="p-6">
                <div class="flex flex-row">
                    <div class="flex flex-col items-start justify-between mb-3">
                        <h5 class="flex font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
                            Nome do evento
                        </h5>
                        <h5 class=" flex font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
                            Local do Evento
                        </h5>
                    </div>

                    <div class="flex text-end">
                        <p class=" items-end gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                            Presencial
                        </p>
                    </div>
                </div>

                <p class="block font-sans text-base antialiased font-light leading-relaxed text-gray-700">
                    Descrição<br>
                    Enter a freshly updated and thoughtfully furnished peaceful home surrounded by ancient trees, stone
                    walls, and open meadows.
                </p>
                <div class="inline-flex flex-wrap items-center gap-3 mt-8 group">
                    ?
                </div>
            </div>
            <div class="p-6 pt-3">
                <button class="block w-full select-none rounded-lg bg-gray-900 py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                    Pagina do evento
                </button>
            </div>
        </div>
        <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
            <div class="relative mx-4 mt-4 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40">
                <img src="https://images.unsplash.com/photo-1499696010180-025ef6e1a8f9?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80" alt="ui/ux review check" />
                <div class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-tr from-transparent via-transparent to-black/60">
                </div>

            </div>
            <div class="p-6">
                DATA
            </div>
            <div class="p-6">
                <div class="flex flex-row">
                    <div class="flex flex-col items-start justify-between mb-3">
                        <h5 class="flex font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
                            Nome do evento
                        </h5>
                        <h5 class=" flex font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
                            Local do Evento
                        </h5>
                    </div>

                    <div class="flex text-end">
                        <p class=" items-end gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                            Presencial
                        </p>
                    </div>
                </div>

                <p class="block font-sans text-base antialiased font-light leading-relaxed text-gray-700">
                    Descrição<br>
                    Enter a freshly updated and thoughtfully furnished peaceful home surrounded by ancient trees, stone
                    walls, and open meadows.
                </p>
                <div class="inline-flex flex-wrap items-center gap-3 mt-8 group">
                    ?
                </div>
            </div>
            <div class="p-6 pt-3">
                <button class="block w-full select-none rounded-lg bg-gray-900 py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                    Pagina do evento
                </button>
            </div>
        </div>
        <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
            <div class="relative mx-4 mt-4 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40">
                <img src="https://images.unsplash.com/photo-1499696010180-025ef6e1a8f9?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80" alt="ui/ux review check" />
                <div class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-tr from-transparent via-transparent to-black/60">
                </div>

            </div>
            <div class="p-6">
                DATA
            </div>
            <div class="p-6">
                <div class="flex flex-row">
                    <div class="flex flex-col items-start justify-between mb-3">
                        <h5 class="flex font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
                            Nome do evento
                        </h5>
                        <h5 class=" flex font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
                            Local do Evento
                        </h5>
                    </div>

                    <div class="flex text-end">
                        <p class=" items-end gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                            Presencial
                        </p>
                    </div>
                </div>

                <p class="block font-sans text-base antialiased font-light leading-relaxed text-gray-700">
                    Descrição<br>
                    Enter a freshly updated and thoughtfully furnished peaceful home surrounded by ancient trees, stone
                    walls, and open meadows.
                </p>
                <div class="inline-flex flex-wrap items-center gap-3 mt-8 group">
                    ?
                </div>
            </div>
            <div class="p-6 pt-3">
                <button class="block w-full select-none rounded-lg bg-gray-900 py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                    Pagina do evento
                </button>
            </div>
        </div>
    </div>
</div>