<p-toast [breakpoints]="{ 
    '767px': { width: '100%', right: '0', left: '20' },
 }"></p-toast>

<!-- Lista de categorias -->
<div class="bg-gray-50">
    <div class="p-4">
        <div class="bg-fundoForm p-4 rounded-md shadow-origamid">
            <div>
                <div class="flex flex-row justify-between py-2">
                    <h2 class="mx-0 my-auto text-xl font-bold text-gray-700">Eventos</h2>

                    <button (click)="navigateToCreateEvent()" type="button" class="flex text-sm bg-green-700 hover:bg-green-900 text-white px-2 rounded focus:outline-none focus:shadow-outline py-3 gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="1.5" stroke="currentColor" class="w-5 h-5 text-inherit flex">
                            <path strokeLinecap="round" strokeLinejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Cadastrar Eventos
                    </button>
                </div>

                <table class="text-left w-full border-collapse block md:table">
                    <thead class="text-md header-table">
                        <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto md:relative ">
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">Titulo</th>
                            <th class="p-4 w-5/12 font-bold md:border md:border-grey-500 text-left block md:table-cell">Descrição</th>
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">Modalidade</th>
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">Data</th>
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">Slug</th>
                            <th class="p-4 w-2/12 font-bold md:border md:border-grey-500 text-left block md:table-cell">Opções</th>
                        </tr>
                    </thead>
                    <div class="flex m-auto">
                        <p-progressSpinner *ngIf="isLoading" ariaLabel="loading" class="m-auto"></p-progressSpinner>
                    </div>
                    <tbody *ngFor="let scheduledEvent of scheduledEvents" class="bodyTable">
                        <tr class="w-full border border-grey-500 md:border-none block md:table-row">
                            <td class="p-4  text-left block md:table-cell border-l border-gray-50"><span class="inline-block w-1/3 md:hidden font-bold">Titulo</span>{{ scheduledEvent.title }}</td>
                            <td class="p-4  text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Descrição</span>{{ truncateDescription(scheduledEvent.description) }}</td>
                            <td class="p-4  text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Modalidade</span>{{ scheduledEvent.local }}</td>
                            <td class="p-4  text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Data</span>{{ scheduledEvent.eventDate | date:'dd/MM/yyyy' }}</td>
                            <td class="p-4  text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Slug</span>{{ scheduledEvent.slug }}</td>
                            <td class="p-4 text-left block md:table-cell border-r border-gray-50">
                                <span class="inline-block w-1/3 md:hidden font-bold">opções</span>
                                <a (click)="editScheduledEventModal(scheduledEvent)" class="text-sm text-bgPrimary py-2 px-4 rounded hover:text-gray-600 mr-2 cursor-pointer"><i class='pi pi-pencil text-lg'></i></a>

                                <a (click)="deleteScheduledEvent(scheduledEvent.id)" (onClick)="showError()" class="text-sm text-bgPrimary py-2 px-4 rounded hover:text-gray-600 cursor-pointer"><i class='pi pi-trash text-lg'></i></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal para Atualizar Eventos -->
    <div *ngIf="showEditModal" class="fixed z-50 inset-0 bg-gray-900 bg-opacity-90 overflow-y-auto">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
                <h2 class="text-xl font-bold mb-4">Editar Produto</h2>

                <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
                    <div class="mb-4">
                        <label for="name" class="block text-sm font-medium text-gray-700">Titulo do evento</label>
                        <input formControlName="title" id="name" type="text" class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm sm:text-sm" required />
                    </div>

                    <div class="mb-4">
                        <label for="description" class="block text-sm font-medium text-gray-700">Descrição</label>
                        <textarea formControlName="description" id="description" rows="5" class="block w-full px-3 py-2 text-gray-700 border rounded-md"></textarea>
                    </div>

                    <div class="mb-4">
                        <label for="city" class="block text-sm font-medium text-gray-700">Cidade</label>
                        <input formControlName="city" id="city" type="text" class="block w-full px-3 py-2 text-gray-700 border rounded-md" />
                    </div>

                    <div class="mb-4">
                        <label for="neighborhood" class="block text-sm font-medium text-gray-700">Endereço</label>
                        <input formControlName="neighborhood" id="neighborhood" type="text" class="block w-full px-3 py-2 text-gray-700 border rounded-md" />
                    </div>

                    <div class="mb-4">
                        <label for="linkEvent" class="block text-sm font-medium text-gray-700">Link do evento</label>
                        <input formControlName="linkEvent" id="linkEvent" type="text" class="block w-full px-3 py-2 text-gray-700 border rounded-md" />
                    </div>

                    <div class="mb-4">
                        <label for="eventDate" class="block text-sm font-medium text-gray-700">Dia do Evento</label>
                        <p-calendar formControlName="eventDate" [showTime]="true" dateFormat="mm/dd/yy" hourFormat="24"></p-calendar>
                    </div>

                    <div class="mb-4">
                        <label for="state" class="block text-sm font-medium text-gray-700">Estado do Evento</label>
                        <p-dropdown formControlName="state" [options]="statesDropdown" optionLabel="label" optionValue="value.id" [placeholder]="'Selecione o estado'" [autoDisplayFirst]="false"></p-dropdown>
                    </div>

                    <div class="mb-4">
                        <label for="typeEvent" class="block text-sm font-medium text-gray-700">Categoria do Evento</label>
                        <p-dropdown formControlName="typeEventId" [options]="typeEvent" optionValue="id" optionLabel="name" [placeholder]="'Selecione a categoria'" id="typeEventId"></p-dropdown>
                    </div>

                    <div class="mb-4">
                        <label for="local" class="block text-sm font-medium text-gray-700">Modalidade do Evento</label>
                        <p-dropdown formControlName="local" [options]="modalOptions" optionLabel="label" optionValue="label" [placeholder]="'Selecione a modalidade'"></p-dropdown>
                    </div>

                    <!-- <div class="mb-4">

                        <input id="fileInput" type="file" accept="image/*" (change)="onImageUpload($event)" class="hidden" />
                        <label for="fileInput" class="inline-flex items-center px-4 py-2 bg-bgFild border-white border-2 font-semibold text-base rounded-lg shadow-2xl shadow-white hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 cursor-pointer">
                            <span class="text-white">Imagem do evento</span>
                        </label>
                        <div *ngIf="selectedFileName" class="mt-2 text-sm text-gray-900">
                            Arquivo Selecionado: {{ selectedFileName }}
                        </div>

                    </div> -->




                    <div class="mb-4">
                        <label for="state" class="block text-sm font-medium text-gray-700">Ocorreu?</label>
                        <p-inputSwitch formControlName="occurred" class="px-3 py-3 w-full ease-linear transition-all duration-150 flex" name="occurred" id="occurred"></p-inputSwitch>
                    </div>

                    <div class="flex justify-end">
                        <button (click)="closeModal()" type="button" class="px-4 py-2 bg-gray-500 text-white rounded-md mr-2">Cancelar</button>
                        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Toast para sucesso -->
    <p-toast></p-toast>
</div>