<p-toast [breakpoints]="{ 
    '767px': { width: '100%', right: '0', left: '20' },
 }" />



<!-- Lista de categorias -->
<div class="bg-gray-50 min-h-screen">
    <div class="p-4">
        <div class="bg-white p-4 rounded-md">
            <div>
                <div class="flex flex-row justify-between py-2">
                    <h2 class=" mx-0 my-auto text-xl font-bold text-gray-700">Categorias</h2>

                    <button (click)="navigateToCreateProduto()" type="button" class="flex text-sm bg-green-700 hover:bg-green-900 text-white px-2 rounded focus:outline-none focus:shadow-outline py-3 gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5 text-inherit flex">
                            <path strokeLinecap="round" strokeLinejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Cadastrar Categoria
                    </button>
                </div>


                <table class="text-left w-full border-collapse block md:table">

                    <thead class="justify-between bg-gradient-to-tr from-indigo-600 to-purple-600 rounded-lg px-4 text-white font-bold text-md block md:table-header-group">
                        <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">id</th>
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">imagem</th>
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">Nome</th>
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">Descrição</th>
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">Preço</th>
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">Categoria</th>
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">Slug</th>
                            <th class="p-4 font-bold md:border md:border-grey-500 text-left block md:table-cell">Opções</th>
                        </tr>
                    </thead>
                    <div class="flex m-auto">
                        <p-progressSpinner *ngIf="isLoading" ariaLabel="loading" class="m-auto" />
                    </div>
                    <tbody *ngFor="let product of products" class=" border-t text-sm font-normal px-4 block md:table-row-group overflow-y-scroll">

                        <tr class="w-full border border-grey-500 md:border-none block md:table-row">
                            <td class="p-4  md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">id</span>#{{ product.id }}</td>
                            <td class="p-4 md:border md:border-grey-500 text-left block md:table-cell lg:flex lg:justify-center"><span class="inline-block w-1/3 md:hidden font-bold">Imagem</span><img [src]="product.image" alt="Imagem do produto" width="50" height="50" class="  max-w-xs md:max-w-sm" /></td>
                            <!-- <td class="p-4  md:border md:border-grey-500 text-left block md:table-cell"><img [src]="product.description" alt="Imagem do produto" class="inline-block w-1/3 md:hidden font-bold" /><span>imagem</span></td> -->
                            <td class="p-4  md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Nome</span>{{ product.name }}</td>
                            <td class="p-4  md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Descrição</span>{{ product.description }}</td>
                            <td class="p-4  md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Preço</span>R${{ product.price }}</td>
                            <td class="p-4  md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Categoria</span>{{ product.categoryId }}</td>
                            <td class="p-4  md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">Slug</span>{{ product.slug }}</td>
                            <td class="p-4  md:border md:border-grey-500 text-left block md:table-cell">
                                <span class="inline-block w-1/3 md:hidden font-bold">opções</span>
                                <button (click)="editProductModal(product)" type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Editar</button>
                                <button (click)="deleteProduct(product.id)" (onClick)="showError()" type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Deletar</button>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>



</div>