<div class="h-96 text-white text-center grid">
    <div class="relative w-full h-full overflow-hidden">
        <!-- Slide container -->
        <div *ngFor="let event of events; let i = index" class="absolute inset-0 transition-opacity duration-1000 ease-in-out" [ngClass]="{'opacity-0': i !== currentIndex, 'opacity-100': i === currentIndex}">
            <div class="h-96 text-white text-center grid bg-cover" [ngStyle]="{'background-image': 'url(' + event.image + ')'}">
                <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-70 w-full h-full"></div>
                <div class="col-start-1 row-start-1 mx-auto my-auto">
                    <h1 class="font-bold text-2xl">{{ event.title }}</h1>
                    <p>{{ event.description }}</p>
                </div>
            </div>
        </div>

        <!-- Navigation buttons -->
        <button (click)="prevSlide()" class="absolute left-4 top-1/2 transform -translate-y-1/2 p-2 bg-gray-700 rounded-full hover:bg-gray-500">
            &larr;
        </button>
        <button (click)="nextSlide()" class="absolute right-4 top-1/2 transform -translate-y-1/2 p-2 bg-gray-700 rounded-full hover:bg-gray-500">
            &rarr;
        </button>
    </div>
</div>

<section id="about" class="py-16 mx-8 container">
    <div class="flex flex-col mdl:flex-row gap-8">
        <div class="mdl:basis-2/3 flex flex-col gap-2 text-lg">
            <p>Nossa ideia começou em 2019, em meio à pandemia, quando o isolamento nos trouxe uma nova realidade: percebemos que a alimentação da nossa família, assim como a de muitos brasileiros, havia piorado.</p>
            <p>Com o passar do tempo e o prolongamento da quarentena, surgiu a necessidade de adotar hábitos alimentares mais saudáveis. Em 2021, ainda durante a pandemia, conhecemos a região da Serrinha, no Mendanha, zona oeste do Rio de Janeiro. Lá, feirantes locais comercializam frutas, legumes e verduras cultivados na própria região.</p>
            <p>Notamos que, devido à pandemia, as vendas desses pequenos produtores haviam caído consideravelmente. Por ser uma área mais afastada de Campo Grande, muitos não conheciam os produtos e o potencial da região. Isso nos motivou a pensar em como a tecnologia poderia contribuir para melhorar a vida desses comerciantes.</p>
            <p>Após diversos projetos e uma divulgação eficaz pelas redes sociais, percebemos bons resultados. Contudo, foi apenas no final de 2024 que decidimos dar um passo além e implementar uma solução digital completa: um software que conecta não só os feirantes locais, mas também todos os comerciantes da região a um público que busca alimentação saudável e sustentável.</p>
            <p>Nosso diferencial está em unir vendedores e consumidores que compartilham os mesmos valores. Acreditamos que, juntos, podemos construir uma comunidade em torno de um estilo de vida mais saudável e adequado, promovendo o bem-estar e o fortalecimento dos pequenos produtores locais.</p>
        </div>
        <div class="mdl:basis-1/3 sobre-bg imagem bg-cover bg-center text-white content-center shadow-sobre">
            <img src="../../../assets/background/ratatouille.jpg" alt="">
        </div>
    </div>
</section>