<header class="text-white">
    <nav class="fixed flex md:flex-row flex-col justify-between top-4 left-0 right-0 mx-auto w-[calc(100%-2rem)] bg-gray-800 rounded-xl md:rounded-full shadow-lg z-50 px-4 py-1 transition-all duration-300" [class.opacity-0]="!menuVisible" [class.opacity-100]="menuVisible">
        <!-- Logo -->
        <div class="flex flex-row justify-between">
            <a href="/">
                <img class="max-w-14" src="../../../assets/teste.svg" alt="Tesouros da Terra" />
            </a>

            <!-- Hamburger Icon for Mobile -->
            <button class="md:hidden text-white focus:outline-none" (click)="toggleMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        </div>

        <!-- Links -->
        <ul class="hidden md:flex p-4 space-x-4" [class.hidden]="!menuOpen && isMobile()">
            <li><a href="/" class="text-white font-bold hover:bg-gray-600 px-4 py-2 rounded-md">Home</a></li>
            <li><a href="/sobre" class="text-white font-bold hover:bg-gray-600 px-4 py-2 rounded-md">Sobre</a></li>
            <li><a href="/eventos" class="text-white font-bold hover:bg-gray-600 px-4 py-2 rounded-md">Eventos</a></li>
            <li><a href="/produtos" class="text-white font-bold hover:bg-gray-600 px-4 py-2 rounded-md">Produtos</a></li>
            <!-- <li><a href="/precos" class="text-white font-bold hover:bg-gray-600 px-4 py-2 rounded-md">Preços</a></li> -->
        </ul>

        <!-- Conditional Menu Items -->
        <div class="hidden md:flex md:justify-end justify-between p-4 gap-4" [class.hidden]="!menuOpen && isMobile()">
            <!-- Se o usuário estiver logado, exibe Dashboard e Logout -->
            <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                <a href="/dashboard"><button class="bg-btnPrimary px-4 py-1 rounded-xl">Dashboard</button></a>
                <button class="bg-btnPrimary px-4 py-1 rounded-xl" (click)="logout()">Sair</button>
            </ng-container>
            <!-- Se o usuário NÃO estiver logado, exibe Entrar e Registrar -->
            <ng-template #notLoggedIn>
                <a href="/login"><button class="bg-btnPrimary px-4 py-1 rounded-xl">Entrar</button></a>
                <a href="/registrar"><button class="bg-btnPrimary px-4 py-1 rounded-xl">Registrar</button></a>
            </ng-template>
        </div>
    </nav>

</header>