<div class="h-96 text-white text-center grid bg-cover bg-produtos">
	<div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-70 w-full h-full"></div>
	<div class="col-start-1 row-start-1 mx-auto my-auto">
		<h1 class="font-bold text-2xl">Produtos</h1>
		<p>Something interesting about hero message</p>
	</div>
</div>

<!-- component -->
<div tabindex="0" class="focus:outline-none">
	<div class="mx-auto container py-8">
		<div class="grid lgl:grid-cols-4 mdl:grid-cols-3 md:grid-cols-2 mx-auto gap-4 items-center lg:justify-between justify-center">

			<div *ngFor="let produto of produtos" tabindex="0" class="bg-fundoForm shadow-md rounded-lg max-w-sm border-gray-700 mb-4">

				<div class="w-full aspect-w-16 aspect-h-9">
					<a [routerLink]="['/produto/detalhe-produto/', produto.slug]">
						<img [src]="produto.image" [alt]="produto.slug" class="p-8 rounded-[2.5rem] object-cover w-full max-h-56" />
					</a>
				</div>
				<div class="px-5 pb-5">
					<!-- <a [routerLink]="['/produto/', produto.slug]"> -->
					<a [routerLink]="['/produto/detalhe-produto/', produto.slug]">
						<h3 class="text-gray-900 font-semibold text-xl tracking-tight text-center ">{{produto.name}}</h3>
					</a>
					<div class="text-center">
						<span class="bg-designColor text-white text-xs font-semibold px-2.5 py-0.5 rounded text-center">{{produto.category?.name}}</span>
					</div>
					<div class="flex items-center mt-2.5 mb-5 justify-between">
						<p tabindex="0" class="text-gray-900 font-medium text-base tracking-tight ">
							{{ produto.description && produto.description.length > 50 ? (produto.description.slice(0, 50)) : produto.description }}
						</p>


					</div>
					<div class="flex items-center justify-between">
						<span class="text-2xl mdl:text-xl lg:text-2xl font-bold text-gray-900 ">{{ produto.price | currency:'BRL':'symbol':'1.2-2' }}</span>


						<a (click)="showProductModal(produto)" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-full p-3 text-center dark:bg-bgFild dark:hover:bg-bgFild/50 ">
							<i class='pi pi-eye text-2xl'></i>
						</a>

					</div>
				</div>
			</div>



			<!-- <p-progressSpinner ariaLabel="loading" /> -->

		</div>
		<p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[8, 16, 20]" class="bg-red-500"></p-paginator>




		<!-- Modal -->
		<div *ngIf="showModal" (click)="onBackdropClick($event)" class="modal-backdrop fixed z-50 inset-0 bg-gray-900 bg-opacity-90 overflow-y-auto">
			<div id="modalProd" class="modal-content" (click)="$event.stopPropagation()">
				<div class="flex items-center justify-center min-h-screen">
					<div class="bg-designColor p-6 rounded-lg shadow-lg max-w-screen-lg w-full">
						<div class="text-right">
							<button (click)="closeModal()"><i class="pi pi-times text-xl text-black"></i></button>
						</div>
						<div class=" mx-auto flex flex-wrap justify-around">
							<img alt="ecommerce" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200 lg:max-h-72 lg:max-w-72 max-h-64 max-w-64 lg:my-auto m-auto" src="https://i.ibb.co/KqdgGY4/cosmetic-packaging-mockup-1150-40280.webp">


							<div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
								<h2 class="text-sm title-font text-gray-100 tracking-widest py-2">Vendido por: <span class="text-green-400 font-semibold">{{selectedProduct.user?.enterpriseName}}</span></h2>
								<h1 class="text-gray-300 text-3xl title-font font-medium mb-1 py-2">{{selectedProduct.name}}</h1>
								<div class="flex mb-4">
									<span class="flex items-center">
										<p class=" text-2xl text-green-400">{{ selectedProduct.price | currency:'BRL':'symbol':'1.2-2' }}</p>
									</span>

								</div>
								<p class="leading-relaxed">{{selectedProduct.description}}</p>
								<div class="flex mt-6 items-center pt-5 border-t-2 border-gray-200 justify-between">
									<div class="flex">
										<span class="mr-3">Em estoque</span>

										<!-- Se o estoque for maior que 0, exibe o ícone de check -->
										<i *ngIf="selectedProduct.stock > 0" class="pi pi-check text-xl font-bold text-green-400 border-2 border-white rounded-full p-1"></i>

										<!-- Se o estoque for igual a 0, exibe o ícone de times -->
										<i *ngIf="selectedProduct.stock === 0" class="pi pi-times text-xl font-bold text-red-400 border-2 border-white rounded-full p-1"></i>
									</div>
									<h2 class="text-sm title-font text-gray-100 tracking-widest py-2"><span class="bg-fundoForm text-designColor font-semibold px-4 py-2 rounded">{{selectedProduct.category?.name}}</span></h2>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
		<!-- End Modal -->













	</div>

</div>