<div class=" bg-fundoForm shadow-shadowOne">
    <div class="p-4">
        <div class="bg-fundoForm text-white p-4 rounded-md">
            <div class="flex flex-row py-2">
                <h2 class="mx-0 my-auto text-xl font-bold text-tituloForm">Cadastro de Evento</h2>
            </div>

            <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="name">Nome do Evento</label>
                                <input pInputText id="name" name="title" class="input-style placeholder-blueGray-300 text-blueGray-600" formControlName="title" />
                            </div>
                        </div>

                        <div class="w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="linkEvent">Link do evento</label>
                                <input pInputText id="linkEvent" name="linkEvent" class="input-style placeholder-blueGray-300 text-blueGray-600" formControlName="linkEvent" />
                            </div>
                        </div>

                        <div class="w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="flex flex-col relative w-full mb-3">
                                <label for="typeEvent">Categoria do Evento</label>
                                <p-dropdown formControlName="typeEventId" [options]="typeEvent" optionLabel="name" placeholder="Tipo de evento" name="typeEvent" id="typeEvent" styleClass=" px-2"></p-dropdown>
                            </div>
                        </div>



                        <div class="w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="city">Cidade</label>
                                <input pInputText id="city" name="city" class="input-style placeholder-blueGray-300 text-blueGray-600" formControlName="city" />
                            </div>
                        </div>

                        <div class="w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="neighborhood">Endereço</label>
                                <input pInputText id="neighborhood" name="neighborhood" class="input-style placeholder-blueGray-300 text-blueGray-600" formControlName="neighborhood" />
                            </div>
                        </div>

                        <div class="w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="flex flex-col relative w-full mb-3">
                                <label for="state">Estado do Evento</label>
                                <p-dropdown formControlName="state" [options]="statesDropdown" optionLabel="label" placeholder="Estado de evento" name="state" id="state" styleClass=" px-2"></p-dropdown>
                            </div>
                        </div>

                        <div class="w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="description">Descrição do Produto</label>
                                <textarea rows="5" cols="30" pInputTextarea formControlName="description" class="input-style placeholder-blueGray-300 text-blueGray-600"></textarea>
                            </div>
                        </div>

                        <div class=" w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="flex-auto">
                                <label for="calendar-24h" class="block">Dia do Evento</label>
                                <p-calendar inputId="calendar" formControlName="eventDate" [showTime]="true" dateFormat="dd.mm.yy" styleClass="text-tituloForm w-full" inputStyleClass="">
                                </p-calendar>
                            </div>
                        </div>

                        <div class=" w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="flex flex-col relative w-full mb-3">
                                <label for="local">Modalidade do Evento</label>
                                <p-dropdown formControlName="local" [options]="modalOptions" optionLabel="label" placeholder="Modalidade" name="local" id="local" styleClass=" px-2"></p-dropdown>
                            </div>
                        </div>

                        <div class="w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="imagem">Imagem do Evento</label>
                                <p-fileUpload mode="basic" formControlName="image" chooseIcon="pi pi-upload" url="https://www.primefaces.org/cdn/api/upload.php" accept=".jpg,.jpeg,.png,.gif" maxFileSize="5000000" (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Arquivo" name="imagem" id="imagem" class="p-4"></p-fileUpload>
                            </div>
                        </div>

                        <div class="w-full lg:w-4/12 md:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="occurred">Evento ja ocorreu?</label>
                                <p-inputSwitch formControlName="occurred" class="px-3 py-3 w-full ease-linear transition-all duration-150 flex" name="occurred" id="occurred"></p-inputSwitch>
                            </div>
                        </div>

                    </div>
                    <div class="w-full px-4 mt-4 text-center ">
                        <button type="submit" class="text-tituloForm font-semibold py-2 px-4 rounded-md border-2 border-bgFild hover:bg-bgFild hover:text-white hover:border-white hover:scale-105 duration-300 shadow-lg">
                            Cadastrar Evento
                        </button>
                    </div>
                </form>
            </div>
            <div class="flex justify-end">
                <img class="max-w-14" src="../../../assets/teste.svg" alt="Tesouros da Terra" />
            </div>
        </div>
    </div>
</div>