<!-- Sidenav -->
<div class="fixed left-0 top-16 w-64 h-full bg-designColor p-4 z-50 sidebar-menu transition-transform">
    <a routerLink="/dashboard" class="flex items-center pb-2">
        <div class="flex justify-center m-auto">
            <h2 class="text-zinc-200 font-bold text-lg">Tesouros da Terra</h2>
        </div>
    </a>

    <ul class="mt-4">
        <div *ngIf="userRole === 'Customer' || userRole === 'Admin' || userRole ==='Seller' || userRole=== 'SuperUser'">
            <span class="text-gray-400 font-bold">USUÁRIO</span>
            <li class="mb-1 group pb-2 border-b border-b-gray-400">
                <a routerLink="/perfil" class="header-style ">
                    <i class='pi pi-user mr-3'></i>
                    <span class="text-sm">Informações do Usuário</span>
                </a>
                <a routerLink="/trocar-senha" class="header-style ">
                    <i class='pi pi-user-edit mr-3 text-lg'></i>
                    <span class="text-sm">Trocar Senha</span>
                </a>
                <a routerLink="/redes-sociais" class="header-style ">
                    <i class='pi pi-hashtag mr-3'></i>
                    <span class="text-sm">Cadastrar redes sociais</span>
                </a>
                <a routerLink="/vendedor" class="header-style ">
                    <i class='pi pi-shop mr-3'></i>
                    <span class="text-sm">Torne-se Vendedor(a)</span>
                </a>

            </li>
        </div>

        <div *ngIf="userRole !== 'Customer'">
            <span class="text-gray-400 font-bold">PRODUTOS</span>
            <li class="mb-1 group pb-2 border-b border-b-gray-400">
                <a routerLink="/listar-produtos" class="header-style ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 mr-3 text-inherit">
                        <path fillRule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 0 0 4.25 22.5h15.5a1.875 1.875 0 0 0 1.865-2.071l-1.263-12a1.875 1.875 0 0 0-1.865-1.679H16.5V6a4.5 4.5 0 1 0-9 0ZM12 3a3 3 0 0 0-3 3v.75h6V6a3 3 0 0 0-3-3Zm-3 8.25a3 3 0 1 0 6 0v-.75a.75.75 0 0 1 1.5 0v.75a4.5 4.5 0 1 1-9 0v-.75a.75.75 0 0 1 1.5 0v.75Z" clipRule="evenodd" />
                    </svg>
                    <span class="text-sm">Lista de produtos</span>
                </a>
                <a routerLink="/categorias" class="header-style ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 mr-3 text-inherit">
                        <path fillRule="evenodd" d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z" clipRule="evenodd" />
                    </svg>
                    <span class="text-sm">Categoria de produtos</span>
                </a>
            </li>
        </div>


        <div *ngIf="userRole === 'Admin' || userRole=== 'SuperUser'">
            <span class="text-gray-400 font-bold">EVENTOS</span>
            <li class="mb-1 group pb-2 border-b border-b-gray-400">
                <a routerLink="/listar-eventos" class="header-style ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 text-inherit mr-3">
                        <path d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" />
                        <path fillRule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clipRule="evenodd" />
                    </svg>
                    <span class="text-sm">Lista de eventos</span>
                </a>
                <a routerLink="/tipo-de-evento" class="header-style ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 mr-3 text-inherit">
                        <path fillRule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clipRule="evenodd" />
                    </svg>
                    <span class="text-sm">Tipos de eventos</span>
                </a>
            </li>
        </div>

        <div *ngIf="userRole === 'Customer' || userRole === 'Admin' || userRole ==='Seller' || userRole=== 'SuperUser'">
            <span class="text-gray-400 font-bold">SISTEMA</span>
            <li class="mb-1 group">
                <a (click)="logout()" class="header-style">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5 text-inherit">
                        <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
                    </svg>
                    <p class="block antialiased font-sans ml-3 text-base leading-relaxed text-inherit font-medium capitalize">Sair</p>
                </a>
            </li>
        </div>
    </ul>
</div>
<div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay" (click)="toggleSidebar()"></div>

<!-- Navbar -->
<div class="py-2 px-6 bg-designColor flex items-center shadow-md sticky top-0 left-0 z-30 h-16">
    <button type="button" class="text-lg text-gray-200 font-semibold" (click)="toggleSidebar()">
        <i class="pi pi-bars"></i>
    </button>

    <ul class="ml-auto flex items-center">
        <button id="fullscreen-button" (click)="toggleFullscreen()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: gray;">
                <path d="M5 5h5V3H3v7h2zm5 14H5v-5H3v7h7zm11-5h-2v5h-5v2h7zm-2-4h2V3h-7v2h5z"></path>
            </svg>
        </button>
        <li class="dropdown ml-3">
            <button type="button" class="dropdown-toggle flex items-center" (click)="toggleDropdown($event)">
                <div class="flex-shrink-0 w-10 h-10 relative">
                    <img class="w-8 h-8 rounded-full" src="https://laravelui.spruko.com/tailwind/ynex/build/assets/images/faces/9.jpg" alt="" />
                    <div class="top-0 left-7 absolute w-3 h-3 bg-lime-400 border-2 border-white rounded-full animate-ping"></div>
                </div>
                <div class="p-2 md:block text-left">
                    <h2 class="text-sm font-semibold text-gray-200">{{userName}}</h2>
                    <p class="text-xs text-gray-300">{{userRole}}</p>
                </div>
            </button>
            <ul class="dropdown-menu hidden py-1.5 rounded-md bg-designColor border border-gray-100 w-full max-w-[140px] z-10 absolute">
                <li>
                    <a routerLink="/profile" class="flex items-center text-[13px] py-1.5 px-4 text-gray-200 hover:text-gray-50 hover:bg-slate-500">Profile</a>
                </li>
                <li>
                    <a routerLink="/settings" class="flex items-center text-[13px] py-1.5 px-4 text-gray-200 hover:text-gray-50 hover:bg-slate-500">Settings</a>
                </li>
                <li>
                    <a (click)="logout()" class="flex items-center text-[13px] py-1.5 px-4 text-gray-200 hover:text-gray-50 hover:bg-slate-500 ">Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
</div>