<div class="h-96 text-white text-center grid bg-cover bg-produtos">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-70 w-full h-full"></div>
    <div class="col-start-1 row-start-1 mx-auto my-auto">
        <h1 class="font-bold text-2xl">Detalhes do produto</h1>
        <p>Conheça mais sobre sua próxima aquisição</p>
    </div>
</div>

<section class="text-gray-200 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img [alt]="produto?.slug" class="lg:w-1/2 w-full max-h-[34rem] object-cover object-center rounded border border-gray-200" [src]="produto?.image">


            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-100 tracking-widest">{{produto?.category?.name}}</h2>
                <h1 class="text-gray-300 text-3xl title-font font-medium mb-1">{{produto?.name}}</h1>
                <div class="flex mb-4">
                    <span class="flex items-center">
                        <p class=" text-2xl text-green-400">{{ produto?.price | currency:'BRL':'symbol':'1.2-2' }}</p>
                    </span>

                </div>
                <p class="leading-relaxed">{{produto?.description}}</p>
                <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
                    <div class="flex">
                        <span class="mr-3">Estoque</span>

                        <!-- Se o estoque for maior que 0, exibe o ícone de check -->
                        <i *ngIf="(produto?.stock ?? 0) > 0" class="pi pi-check font-bold text-green-400 border-2 border-white rounded-full p-1"></i>

                        <!-- Se o estoque for igual a 0, exibe o ícone de times -->
                        <i *ngIf="(produto?.stock ?? 0) === 0" class="pi pi-times font-bold text-red-400 border-2 border-white rounded-full p-1"></i>
                    </div>

                </div>

                <div class="flex pt-4 pb-8 justify-between">
                    <div class="flex flex-col gap-2">
                        <h2 class="text-xl font-semibold text-gray-100 tracking-widest">Informações do fornecedor</h2>

                        <div class="flex flex-row">
                            <h3 class="text-sm font-semibold text-gray-100 tracking-widest">Nome: &nbsp;</h3>
                            <p class="text-sm title-font text-gray-100 tracking-widest"> {{produto?.user?.enterpriseName}}</p>
                        </div>
                        <div class="flex flex-row">
                            <h3 class="text-sm font-semibold text-gray-100 tracking-widest">Telefone: &nbsp;</h3>
                            <a [href]="'tel:' + produto?.user?.cellPhone" class="text-sm title-font text-gray-100 tracking-widest">{{produto?.user?.cellPhone}}</a>
                        </div>
                        <div class="flex flex-row">
                            <h3 class="text-sm font-semibold text-gray-100 tracking-widest">Estado: &nbsp;</h3>
                            <p class="text-sm title-font text-gray-100 tracking-widest"> {{produto?.user?.addressState}}</p>
                        </div>
                        <div class="flex flex-row">
                            <h3 class="text-sm font-semibold text-gray-100 tracking-widest">Bairro: &nbsp;</h3>
                            <p class="text-sm title-font text-gray-100 tracking-widest"> {{produto?.user?.addressComplement}}</p>
                        </div>
                        <div class="flex flex-row">
                            <h3 class="text-sm font-semibold text-gray-100 tracking-widest">Site do fornecedor: &nbsp;</h3>
                            <a [href]="'https://' + produto?.user?.otherSocial" target="_blank" class="text-sm title-font text-gray-100 tracking-widest">{{produto?.user?.otherSocial}}</a>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row gap-2 justify-between">

                    <a [href]="'https://wa.me/55' + produto?.user?.whatsapp" target="_blank" class="text-gray-400 p-2 hover:text-gray-300">
                        <i class="pi pi-whatsapp text-2xl"></i>
                    </a>
                    <a [href]="'https://www.instagram.com/' + produto?.user?.instagram" target="_blank" class="text-gray-400 p-2 hover:text-gray-300">
                        <i class="pi pi-instagram text-2xl"></i>
                    </a>
                    <a [href]="'https://www.facebook.com/' + produto?.user?.whatsapp" target="_blank" class="text-gray-400 p-2 hover:text-gray-300">
                        <i class="pi pi-facebook text-2xl"></i>
                    </a>
                    <a [href]="'https://www.youtube.com/' + produto?.user?.whatsapp" target="_blank" class="text-gray-400 p-2 hover:text-gray-300">
                        <i class="pi pi-youtube text-2xl"></i>
                    </a>
                    <a [href]="'https://www.tiktok.com/@' + produto?.user?.whatsapp" target="_blank" class="text-gray-400 p-2 hover:text-gray-300">
                        <i class="pi pi-tiktok text-2xl"></i>
                    </a>
                    <a [href]="'https://twitter.com/' + produto?.user?.whatsapp" target="_blank" class="text-gray-400 p-2 hover:text-gray-300">
                        <i class="pi pi-twitter text-2xl"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>