/* @media screen and (max-width: 1199px) {
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
}

@media screen and (max-width: 1199px) {
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
} */

.headerImage {
  background-image: url("../../../assets/background/image2.png");
  position: relative;
  z-index: 1;
}

.fracao {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.sobre-bg {
  background-image: url("../../../assets/background/prato.png");
  position: relative;
  z-index: 1;
}

.imagem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Preto com 50% de transparência */
  z-index: -1;
  pointer-events: none; /* Para garantir que o texto seja clicável */
}
